.mb-3{
    width: 20rem;
    justify-content: center;
    margin: auto;
}
.label{
    margin: auto;
    justify-content: center;
}
.buttons{
    justify-content: center;
    margin-left: 40rem;
    
}